---
interface Props {
    img: string,
    title: string,
    title2: string,
    text: string
}

const {img,title,title2,text} = Astro.props;
---
<div class="flex gap-4 flex-1">
    <img class="w-1/3 h-full object-cover" src={img} alt="">
    <article class="w-2/3 flex flex-col space-y-6">
        <p class="text-4xl text-pgblue font-extrabold">{title}</p>
        <h3 class="text-xl font-bold ">{title2}</h3>
        <p class="text-pbdblue">{text}</p>
    </article>
</div>